<!DOCTYPE html>
<html>
  <head>
    <title>Course Data</title>
  </head>
  <body>
    <h1>Course Details</h1>
    <table border="2" id="course-details-table">
      <tbody>
        <tr>
          <th>Average Marks</th>
          <th>Maximum Marks</th>
        </tr>
        {% for c in dic | groupby("Course id") %} {% if c.grouper == id %} {%
        set ns = namespace(total=0, maxa=0) %} {% set count= c.list| length %}
        {% for item in c.list %} {% if item['Marks']>ns.maxa %} {% set ns.maxa=
        item['Marks'] %} {% endif %} {% set ns.total = ns.total + item['Marks']
        %} {% endfor %}
        <tr>
          <td>{{ (ns.total/count)| round(1) }}</td>
          <td>{{ ns.maxa }}</td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
    <img
      src="{{ url_for('static', filename= figa) }}"
      alt="Course Marks Distribution"
    />
    <br />
    <br />
    <a href="/">Go Back</a>
  </body>
</html>
